{% extends "base.html" %}

{% block title %}Error - ShiRo{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 5rem;">
        <!-- <h1 style="font-size: 4rem;">😕</h1> -->
        <img src="{{ url_for('static', filename='fafuke-sasuke.webp') }}">
        <h2 style="margin: 2rem 0;">{{ message }}</h2>
        <a href="/" style="padding: 1rem 2rem; background: #667eea; color: #fff; text-decoration: none; border-radius: 8px;">
            Go Home
        </a>
    </div>
{% endblock %}